
@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>
<input type="text" class="form-control" id="inputName" placeholder="請輸入名字" />
<input type="text" class="form-control" id="inputAge" placeholder="請輸入年紀" />
<br />
<button type="button" class="btn btn-primary mb-3" id="buttonStart">Ajax Start</button>
<button type="button" class="btn btn-primary mb-3" id="buttonStop">Ajax Stop</button>

<div id="div1" class="alert alert-secondary"></div>

@section Scripts{
    <script>
        const btnStart = document.querySelector('#buttonStart');
        const btnStop = document.querySelector('#buttonStop');
        const divInfo = document.querySelector('#div1');
        const txtName = document.querySelector('#inputName');
        const txtAge = document.querySelector('#inputAge');

        const xhr = new XMLHttpRequest();

        btnStop.addEventListener('click', () => {
            xhr.abort();
        });

        btnStart.addEventListener('click', () => {

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                divInfo.innerHTML = `<h2>${data}</h2>`;

            })

            xhr.addEventListener('loadstart', () => {
            btnStart.textContent = "Loading...";
            btnStart.setAttribute('disabled', 'disabled');
            })

            xhr.addEventListener('loadend', () => {
            btnStart.removeAttribute('disabled');
            btnStart.textContent = "Ajax Start";
            })

            xhr.addEventListener('timeout', () => {
            divInfo.innerHTML = "<h3>伺服器忙碌中，請稍後再嘗試</h3>";
            })

            xhr.addEventListener('abort', () => {
                divInfo.innerHTML = "<h3>您終止了程式執行</h3>";
            })

            const url = "@Url.Content("~/api/index")";
            const params = `?name=${txtName.value}&age=${txtAge.value}`;
            //xhr.open("GET", "/api/index");
            //xhr.open("GET", `/api/index?name=${txtName.value}&age=${txtAge.value}`);
            xhr.open("GET", url + params);
            xhr.timeout = 3000;
            xhr.send();
        })
    </script>
}
